@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
	font-family: Nunito;
	perspective: 1px;
	transform-style: preserve-3d;
	background-image: url("https://media.giphy.com/media/h0cVMLhAiBtug/giphy.gif");
}

.slide {
	box-sizing: border-box;
	box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
	position: relative;
	border-radius: 5px;
}

.image {
	width: 50%;
	left: 500px;
	perspective: 100px;
	transform-style: inherit;
}

.nome {
	border-radius: 5px;
	background: rgba(240, 230, 220, 0.7);
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
	position: absolute;
	padding: 2%;
	width: 40%;
}

.grey {
	color: grey;
	text-shadow: 2px 2px 3px #000;
}

#image1 {
	position: absolute;
	width: 8%;
	left: 950px;
	top: 35%;
}

#jorgy {
	color: white;
	z-index: 7;
}

#slide1 {
	top: 10px;
	font-size: 200%;
	perspective: 150px;
	position: absolute;
	left: 120px;
	width: 80%;
	background-image: url("https://media.giphy.com/media/ZnKdSM5piRLDW/giphy.gif");
	padding: 20px;
	padding-left: 80px;
}

#name {
	left: 560px;
	top: 70px;
}

#name2 {
	left: 60px;
	top: 80px;
}

#name3 {
	left: 60px;
	top: 550px;
}

#slide2 {
	top: 260px;
	left: 120px;
	width: 80%;
	background-color: white;
	padding: 20px;
	background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif");
}

#list1 {
	list-style-image: "-";
}

#slide3 {
	top: 820px;
	position: absolute;
	left: 120px;
	width: 80%;
	background-color: white;
	padding: 60px;
	padding-top: 50px;
	height: 90%;
	background-image: url(../images/images.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#image2 {
	padding-left: 500px;
	perspective: 10px;
}

#livro {
	font-size: 200%;
	padding-left: 500px;
	text-shadow: 2px 2px 3px #000;
	color: grey; 
}

#quem {
	font-size: 250%;
}

#slide4 {
	top: 1800px;
	position: absolute;
	left: 120px;
	width: 80%;
	background-color: white;
	padding: 20px;
	background-image: url(../images/ultimo.jpg);
}
